input, label {
    margin: 5px 5px;
}

.box{
  min-height: 100vh;
  text-align:center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: -25px;
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  font-size: 12px;
  font-weight: bold;
}

.errorClass {
  color: #d93025;
  font-size: 12px;
  line-height: normal;
}

button{
    margin-top:5px;
    margin-bottom:10px
}

a{
  text-decoration: none;
}

.buttonLink{
  background: none;
  border:none;
  color: #0D6EFD
  
}
.buttonLink:hover{
  color: #0A58CA
}
