<div *ngIf="!timePassed" class = "box">

    <h4 style="text-align: center">Password change</h4>
    <input type="number" name="code" [(ngModel)]="code" placeholder="Verification code"><br>
    <span *ngIf="errorCodeMessage" class="errorClass">{{errorCodeMessage}}</span><br *ngIf="errorCodeMessage">
    <input type="text" name="password1" [(ngModel)]="password1" placeholder="New password"><br>
    <input type="text" (focusout)="testPassword()" name="password2" [(ngModel)]="password2" placeholder="Confirm"><br>
    <span class="errorClass">{{errorMessage}}</span><br>
    <button (click)="change()" class="btn btn-dark">Save</button><br>
    
</div>
<div *ngIf="timePassed" class = "box">
    <h1>The request time has passed</h1><br>
    <h3>Back to LogIn Page <a href="/login">here.</a></h3>
</div>
