<div class = "box">

    <h4 style="text-align: center">Admin login</h4>
   
    <input type="text" name="username" [(ngModel)]="username" placeholder="Username"><br>
    <input type="text" name="password" [(ngModel)]="password" placeholder="Password"><br>
    <span class="errorClass">{{errorMessage}}</span><br>
    <button class="btn btn-dark" (click)="login()">Login</button><br>
    
</div>

<!-- <footer style="position:absolute; bottom:0; text-align:center; width:100%" class="bg-dark test">
    <div class="container">
        <img class="logo" src="../assets/Images/art_white2.png" alt="Logo"><br>
        <span style="color:white">Art workshop © 2023 | All rights reserved </span>
        <br>
   <span>The art workshop is a project from the Internet application programming </span><br>
    <span>course at the Faculty of Electrical Engineering</span>
    </div>
</footer> -->