<div class = "box">

    <h4 style="text-align: center">Login</h4>
   
    <input type="text" name="username" [(ngModel)]="username" placeholder="Username"><br>
    <input type="text" name="password" [(ngModel)]="password" placeholder="Password"><br>
    <select name="type" [(ngModel)]='type'>
        <option value="participant"><i>Participant</i></option>
        <option value="organizer"><i>Organizer</i></option>
    </select><br>
    <span class="errorClass">{{errorMessage}}</span><br>
    <button (click)="login()">Login</button><br>

    <span>
        Don't have an account? Register
        <a routerLink='/register'> here.</a>
    </span>
    
</div>
